@use '../blocks/header/header';
@use '../blocks/main/main';
@use '../blocks/footer/footer';
@use './vars' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $main-font;
  color: $text-color-main;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 36px;
  font-width: 600;
  line-height: 36px;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: $desktop-width;
  margin-right: auto;
  margin-left: auto;
}