<main class="main">
    <div class="main__inner container">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                {{#breadcrumbs}}
                    <li class="breadcrumbs__item">
                        {{^isActive}}
                            <a
                               href="{{url}}"
                               class="breadcrumbs__link"
                            >
                                {{title}}
                            </a>
                        {{/isActive}}
                        {{#isActive}}
                            <span class="breadcrumbs__current-location">
                                {{title}}
                            </span>
                        {{/isActive}}
                    </li>
                {{/breadcrumbs}}
            </ul>
        </div>

        <section class="product">
            <div class="product__view">
                <img
                    class="product__img"
                    width="700px"
                    height="700px"
                    alt="футболка"
                    src="{{baseAssetsUrl}}/assets/images/tshirt_white.jpg"
                />
            </div>

            <div class="product__data">
                <h1 class="product__title">
                    Футболка Alien technology
                </h1>

                <p class="product__description">
                    Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.
                </p>

                <span class="product__price">
                    1500₽
                </span>
            </div>
        </section>
    </div>
</main>